# Fanar API Configuration
FANAR_API_KEY=FjmxA1VkdYHjlwd3n2LhtZUry2O4d5K5
FANAR_API_BASE=https://api.fanar.qa/v1
FANAR_MODEL=Fanar-C-2-27B

# App
PROJECT_NAME=Persona Style Analyzer
DEBUG=true

# FAISS
EMBEDDING_DIM=768
